<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step class="stepper-content" [stepControl]="(createGroupForm$ | async).controls.groupName">
        <form [ngrxFormState]="(createGroupForm$ | async)" name="createForm">
            <ng-template matStepLabel>Basic Information</ng-template>
            <mat-form-field>
                <input matInput placeholder="Group Name" type="text"
                       [ngrxFormControlState]="(createGroupForm$ | async).controls.groupName">
            </mat-form-field>
            <div>
                <button mat-button color="primary" (click)="next()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="(createGroupForm$ | async).controls.categoryName">
        <form name="category">
            <ng-template matStepLabel>Pick A Group Category</ng-template>
            <asm-category-selection-grid [stepper]="stepper"
                                         (onCategorySelected)="onCategorySelected($event)">
            </asm-category-selection-grid>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <div class="create-group-review-content">
            <asm-create-group-review></asm-create-group-review>
        </div>
        <div>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="create()">Create!</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
