.dashboard-my-groups-wrapper {
  width: 65%;
}

.dashboard-create-group-wrapper {
  width: 40%;
}

.dash-board-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-board-buttons-wrapper {
  margin-top: 25px;
}
