<h1>Dashboard</h1>
<div class="dash-board-main" [ngSwitch]="currentView$ | async">

    <div *ngSwitchCase="'Dashboard'" class="dashboard-my-groups-wrapper">
        <asm-dashboard-my-groups></asm-dashboard-my-groups>
    </div>
    <div *ngSwitchCase="'Create A Group'" class="dashboard-create-group-wrapper">
        <asm-create-group-stepper (onCreateFinished)="onGroupCreated($event)">
        </asm-create-group-stepper>
    </div>
</div>
<div class="dash-board-back">
    <button mat-raised-button color="accent" *ngIf="(showBackToDash$ | async)" (click)="backToDash()">Home</button>
</div>
<div class="dash-board-buttons-wrapper" *ngIf="!(showBackToDash$ | async)">
    <asm-create-group-button></asm-create-group-button>
    <asm-join-group-button></asm-join-group-button>
</div>

