<div class="login-main">

  <form class="login-form">

    <table class="login-form-full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="login-form-full-width">
            <input mdInput placeholder="Email">
          </md-form-field>
        </td>
      </tr>
    </table>


    <table class="login-form-full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="login-form-full-width">
            <input mdInput placeholder="Password">
          </md-form-field>
        </td>
      </tr>
    </table>

  </form>
</div>
<button md-raised-button color="primary">Login</button>
<button md-button>Register</button>
