.register-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  max-width: 500px;
  width: 100%;
}

.register-form-full-width, .register-form-full-width-email, .register-form-full-width-password {
  width: 100%;
}

.registering-spinner-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
