<h1>
  Register
</h1>
<div *ngIf="!(pending$ | async)">
  <div class="register-main">

      <form class="register-form" [formGroup]="regForm" (ngSubmit)="register()">

      <table class="register-form-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="register-form-full-width-email">
                <input matInput placeholder="Email" name="email" formControlName="email"
                       class="register-form-full-width-email-input">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="register-form-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="register-form-full-width-password">
                <input matInput placeholder="Password" name="password" formControlName="password"
                       class="register-form-full-width-password-input">
            </mat-form-field>
          </td>
        </tr>
      </table>

    </form>
  </div>
  <button mat-raised-button color="primary" (click)="register()" class="register-form-register-button">Register</button>
</div>

<div class="registering-spinner-holder" *ngIf="pending$ | async">
  <mat-spinner></mat-spinner>
</div>

