.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    max-width: 500px;
    width: 100%;
}

.login-form-full-width, .login-form-full-width-email, .login-form-full-width-password {
    width: 100%;
}

.login-spinner-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
