<mat-toolbar color="primary">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item> My Account</button>
        <button mat-menu-item> Settings</button>
        <button mat-menu-item> Help</button>
        <button mat-menu-item [(ngModel)]="loginOrOut" name="loginOrOut" ngDefaultControl (click)="toggleUserSignedIn()">
            <div class="toolbar-user-status-link">
                {{loginOrOut}}
            </div>
        </button>
    </mat-menu>
    <a [routerLink]="assembleLink">Assemble</a>
    <!-- This fills the remaining space of the current row -->
    <span class="asm-toolbar-fill"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
