<md-toolbar color="primary">
  <md-menu #appMenu="mdMenu">
    <button md-menu-item> My Account</button>
    <button md-menu-item> Settings</button>
    <button md-menu-item> Help</button>
    <button md-menu-item [(ngModel)]="loginOrOut" name="loginOrOut" ngDefaultControl (click)="toggleUserSignedIn()">
      {{loginOrOut}}
    </button>
  </md-menu>
  <a [routerLink]="assembleLink">Assemble</a>
  <!-- This fills the remaining space of the current row -->
  <span class="asm-toolbar-fill"></span>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
